:root {
  --heading-font-family: 'Sacramento', cursive;
  --default-font-family: 'Poppins', sans-serif;
  --primary-color: #8c52ff;
  --secondary-color: #ededf4;
  --third-color: #8c52ff;
  --fourth-color: #01ffff;
  --text-color: #504e70;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
  font-size: 20px;
}

h1 {
  font-family: 'Poppins';
  color: black;
}

h1 {
  font-size: 96px;
}

.sub-head h3 {
  color: var(--primary-color);
  font-family: var(--default-font-family) !important;
}

h3 {
  font-size: 36px;
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

h4 {
  font-size: 28px;
  font-family: var(--default-font-family);
  text-align: center;
}

.home p {
  font-size: 20px;
}

.work-inquiry {
  font-size: 36px;
  color: var(--primary-color);
}

.container h3 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--default-font-family);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--primary-color);
}

.hero {
  background: linear-gradient(
    270deg,
    hsla(300, 100%, 50%, 0.5) 0%,
    hsla(208, 47%, 43%, 0.5) 50%,
    hsla(180, 100%, 50%, 0.5) 100%
  );
  text-align: center;
  padding-bottom: 60px;
  padding-top: 160px;
}

.btn-branding {
  background-color: white;
  color: var(--third-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: all 250ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--third-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 250ms ease-in-out;
}

.primary-link:hover {
  background-color: white;
  color: var(--primary-color);
}

.navbar {
  font-family: var(--default-font-family);
  background: white;
}

.nav-logo {
  max-width: 60px;
}

.navbar-brand:hover {
  color: var(--primary-color);
}

.navbar-nav .active {
  color: var(--primary-color) !important;
  text-decoration: overline;
}
.navbar-nav .nav-link {
  transition: all 250ms ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--fourth-color) !important;
}

.home-img {
  width: 600px;
}

.about-section {
  padding-top: 100px;
}

.about-section p {
  line-height: 1.5;
}

.rotate-center {
  -webkit-animation: rotate-center 10s linear infinite;
  animation: rotate-center 10s linear infinite;
}

.about-img {
  margin-left: 70px;
}
.intro {
  font-size: 28px;
}

.intro span {
  font-family: var(--heading-font-family);
  font-size: 36px;
  color: var(--primary-color);
}

p.intro {
  margin-bottom: 0 !important;
}

.occupation {
  font-size: 28px;
}

p.occupation {
  margin-bottom: 0 !important;
}

.occupation span {
  color: var(--primary-color);
}

.portfolio {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  padding-left: 60px;
  padding-top: 100px;
}

.portfolio p {
  font-size: 16px;
}

.sub-head .portfolio {
  padding-bottom: 0;
}

.contact-container {
  padding-top: 100px;
}

.contact-container a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
}
.contact-container a:hover {
  color: var(--fourth-color);
  transition: all 250ms ease-in-out;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--third-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--fourth-color);
}

footer p {
  font-size: 14px;
  text-align: center;
}

footer p a {
  text-decoration: none;
  color: var(--third-color);
  transition: all 250ms ease-in-out;
}

footer p a:hover {
  color: var(--fourth-color);
}

/* Media Queries */
@media (max-width: 900px) {
  h1 {
    font-size: 48px !important;
  }

  h4 {
    text-align: center;
    padding: 0;
  }

  .home p {
    padding-right: 0 !important;
  }

  .mini-hero {
    padding: 30px 20px;
  }

  .home-img {
    display: 100%;
  }

  .about-img {
    margin-left: 0;
  }
  .portfolio {
    padding: 50px;
  }

  p,
  h2,
  h3 {
    text-align: center;
  }

  .primary-btn {
    display: flex;
    justify-content: center;
  }

  footer {
    padding-top: 50px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 48px !important;
  }

  h4 {
    text-align: center;
    padding: 0;
  }

  .home p {
    padding-right: 0 !important;
  }

  .mini-hero {
    padding: 30px 20px;
  }

  .home-img {
    display: none;
  }
}

.about-img {
  margin-left: 0;
}
.portfolio {
  padding: 50px;
}

p,
h2,
h3 {
  text-align: center;
}

.primary-btn {
  display: flex;
  justify-content: center;
}

footer {
  padding-top: 50px;
}

@media (max-width: 400px) {
  body {
    margin-top: 100px;
  }

  h1 {
    font-size: 48px !important;
  }

  .mini-hero {
    padding: 20px 20px;
  }

  .home-img {
    display: none;
  }

  .portfolio {
    padding-left: 0;
  }

  .pe-5 {
    padding-right: 0 !important;
  }

  .about-img {
    display: flex;
    justify-content: center;
    max-width: 350px;
    padding-left: 5px;
  }

  .container p {
    padding-right: 0;
  }

  p,
  h2,
  h3 {
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  .primary-btn {
    display: flex;
    justify-content: center;
  }
}
