:root {
  --heading-font-family: "Sacramento", cursive;
  --default-font-family: "Lato", sans-serif;
  --extra-font-family: "Lustria", serif;
  --primary-color: #d279c3;
  --secondary-color: #ededf4;
  --third-color: #a579d2;
  --fourth-color: #7988d2;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  color: var(--third-color);
}

h1 {
  font-size: 96px;
}

.sub-head h3 {
  color: var(--primary-color);
  font-family: var(--default-font-family) !important;
}

h3 {
  font-size: 36px;
  font-family: var(--default-font-family);
  color: var(--third-color);
}

h4 {
  font-size: 24px;
  font-family: var(--default-font-family);
  color: var(--primary-color);
}

.work-inquiry {
  font-size: 36px;
  color: var(--third-color);
}

.container h3 {
  font-family: var(--heading-font-family);
}

p {
  font-family: var(--default-font-family);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--primary-color);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.mini-hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.mini-hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: var(--third-color);
}

.home {
  max-width: 1000px;
}

.btn-branding {
  background-color: white;
  color: var(--third-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: var(--box-shadow);
  transition: all 250ms ease-in-out;
}

.btn-branding:hover {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--third-color);
  box-shadow: var(--box-shadow);
  color: white;
  transition: all 250ms ease-in-out;
}

.primary-link:hover {
  background-color: var(--fourth-color);
}

.navbar {
  font-family: var(--default-font-family);
  font-weight: bolder;
}

.navbar-brand {
  border: 2px solid var(--fourth-color);
  transition: all 250ms ease-in-out;
}

.navbar-brand:hover {
  border: 2px solid var(--third-color);
  color: var(--primary-color);
}

.navbar-nav .active {
  color: var(--fourth-color) !important;
  text-decoration: overline;
}
.navbar-nav .nav-link {
  transition: all 250ms ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--third-color) !important;
}

.home-img {
  width: 600px;
}

.about-section {
  max-width: 1000px;
}

.portfolio {
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  padding-left: 60px;
}

.contact-container a {
  text-decoration: none;
  color: var(--fourth-color);
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--third-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--fourth-color);
}

/* Media Queries */
@media (max-width: 800px) {
  h1 {
    font-size: 48px !important;
  }

  .hero {
    padding: 80px 20px;
  }

  .mini-hero {
    padding: 30px 20px;
  }

  .home-img {
    display: none;
  }

  p,
  h2,
  h3 {
    text-align: center;
  }

  .primary-btn {
    display: flex;
    justify-content: center;
  }

  footer {
    padding-top: 50px;
  }
}

@media (max-width: 400px) {
  body {
    margin-top: 100px;
  }

  h1 {
    font-size: 48px !important;
  }

  .mini-hero {
    padding: 20px 20px;
  }

  .home-img {
    display: none;
  }

  .about-img {
    display: flex;
    justify-content: center;
    max-width: 350px;
    padding-left: 5px;
  }

  .container p {
    padding-right: 0;
  }

  p,
  h2,
  h3 {
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  .primary-btn {
    display: flex;
    justify-content: center;
  }
}
