:root {
  --heading-font-family: "Sacramento", cursive;
  --default-font-family: "Lato", sans-serif;
  --primary-color: RGB(245, 240, 236);
  --secondary-color: RGB(0, 0, 0);
  --third-color: RGB(189, 141, 121);
}
h1,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: var(--third-color);
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 36px;
  font-family: var(--default-font-family);
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: RGB(249, 249, 249);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.mini-hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

.mini-hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  color: var(--third-color);
}

.btn-branding {
  background-color: var(--primary-color);
  color: var(--third-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  border: 2px var(--third-color) solid;
}
